# .Gitignore file

.DS_Store
Icon*
.ipynb_checkpoints/

*/__pycache__/*
*.pyc
stash/
training_logs/
tensorboard_logs*
output/*.pt
output/
datasets/
sampling.gif
*.old
*.png
*.pth
.vscode/


model_DDPM*

ddpm_job.slurm
GZ2_ddpm*.err
GZ2_ddpm*.out
param_GZ2.json

logs/

